.darkmode {
  background-color: #333;
  color: #eee;
}
.lightmode {
  background-color: #eee;
  color: #333;
}

.widget {
  font-size: 20px;
  padding: 20px;
  width: 300px;
  height: 300px;
  float: left;
  border-radius: 20px;
  margin-right: 20px;
}

.search-bar {
  padding: 0px;
}

.search {
  text-align: center;
  background-color: #eee;
}
.search .input {
  width: 250px;
}

.time {
  font-size: 40px;
}

.relative {
  position: relative;
}

.weather-temp {
  position: absolute;
  left: 140px;
  top: 60px;
  font-size: 40px;
  border: solid 2px #444;
  border-radius: 15px;
  padding: 10px;
}
.weather-temp img {
  float: left;
  width: 100px;
}
.weather-temp div {
  margin-top: 115px;
  text-align: center;
}

.humidity {
  margin-top: 50px;
}
.infos .icon {
  float: left;
}
.infos .data {
  height: 30px;
  display: table-cell;
  vertical-align: middle;
  font-size: 30px;
}
.infos .small {
  float: right;
  font-size: 15px;
  vertical-align: bottom;
}
